{{page-title "EditUser"}}

<div class="editContainer">
    <EditUserForm 
        @id={{this.model.id}}
        @dp={{this.model.dp}}
        @name={{this.model.name}}
        @email={{this.model.email}}
        @password={{this.model.password}}
        @role={{this.model.role}}
    />
</div>