{{page-title "Edit"}}

<div class="editContainer">
    <EditProductForm 
        @id={{this.model.id}}
        @dp={{this.model.dp}}
        @name={{this.model.name}}
        @category={{this.model.category}}
        @price={{this.model.price}}
        @discount={{this.model.discount}}
        @size={{this.model.size}}
        @color={{this.model.color}}
        @gender={{this.model.gender}}
        @age={{this.model.age}}
    />
</div>